<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/footer.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <script src="/static/scripts.js"></script>
    <link rel="icon" type="image/svg+xml" href="/static/logo/favicon-onpageIQ.svg">
</head>
<body class="flex flex-col min-h-screen bg-gray-100 bg-image">
    <!-- Nagłówek -->
    <header class="w-full border-gray-300 p-1 flex justify-between items-center custom-header">
        <div class="flex items-center">
            <img src="/static/logo/logo-onpageiq.svg" alt="Logo" class="header img">
        </div>
    </header>

    <div class="flex-grow flex items-center justify-center">
        <div class="flex flex-col md:flex-row items-center justify-center w-full max-w-md p-6 bg-white rounded-lg shadow-md custom-styles">
            <!-- Lewa część z formularzem -->
            <div class="w-full p-6">
                <h2 class="mb-6">OnPage IQ SEO</h2>
                <form method="POST" class="space-y-4">
                    <div>
                        <input type="text" id="username" name="username" required placeholder="Nazwa użytkownika" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <div>
                        <input type="password" id="password" name="password" required placeholder="Hasło" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <div class="flex justify-center">
                        <button type="submit" class="py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white custom-button hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 custom-button">Zaloguj się</button>
                    </div>
                </form>

                <!-- Wyświetlanie komunikatów -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="mt-4 space-y-2">
                            {% for message in messages %}
                                <li class="custom-buttonlogout p-2 bg-red-100 border border-red-400 text-red-700 rounded-lg">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-text">
            <p>
                © <strong>PixelCraft – Patryk Łyjak</strong>
            </p>
        </div>
        <div class="footer-icons">
            <!-- Facebook -->
            <a href="#" class="footer-icon" aria-label="Facebook">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.348C0 23.407.593 24 1.325 24H12.82v-9.294H9.692v-3.622h3.128V8.98c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.242h-1.92c-1.504 0-1.795.715-1.795 1.763v2.31h3.589l-.467 3.622h-3.12V24h6.116c.733 0 1.325-.593 1.325-1.325V1.325C24 .593 23.407 0 22.675 0z"/>
                </svg>
            </a>
            <!-- GitHub -->
            <a href="#" class="footer-icon" aria-label="GitHub">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M12 0C5.373 0 0 5.373 0 12c0 5.303 3.438 9.8 8.205 11.387.6.113.82-.26.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.757-1.333-1.757-1.09-.745.082-.729.082-.729 1.205.084 1.84 1.236 1.84 1.236 1.07 1.834 2.809 1.304 3.495.997.108-.775.418-1.304.76-1.604-2.665-.305-5.467-1.332-5.467-5.931 0-1.31.468-2.381 1.235-3.221-.123-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.3 1.23 1.02-.005 2.045-.138 3.003-.404 2.957.266 4.978.399 4.978.399 2.292-1.552 3.3-1.23 3.3-1.23.653 1.653.242 2.874.12 3.176.77.84 1.233 1.911 1.233 3.221 0 4.609-2.807 5.624-5.479 5.921.43.37.814 1.096.814 2.21 0 1.595-.015 2.877-.015 3.268 0 .319.216.694.825.576C20.565 21.796 24 17.298 24 12c0-6.627-5.373-12-12-12z"/>
                </svg>
            </a>
        </div>
    </footer>
</body>
</html>